ALTER TABLE gyms ADD COLUMN IF NOT EXISTS onboarding_completed boolean DEFAULT false; ALTER TABLE gyms ADD COLUMN IF NOT EXISTS onboarding_step integer DEFAULT 1; UPDATE gyms SET onboarding_completed = true WHERE id != 'demo-gym-id';
